KMA_SERVICE_KEY=YOUR_DATA_GO_KR_SERVICE_KEY
KMA_NX=60
KMA_NY=127
WEATHER_POLL_SECONDS=600
RAIN_PTY_CODES=1,2,3,5,6,7

GROUP_ID=02
LEFT_WHEEL_CUBE=1
RIGHT_WHEEL_CUBE=2
UMBRELLA_CUBE=3
LED_MATRIX_CUBE=4
BLE_ADDRESS=
BLE_SCAN_SECONDS=5

WHEEL_SPEED_SPS=500
TURN_SPEED_SPS=400
LEFT_MOTOR_SIGN=1
RIGHT_MOTOR_SIGN=-1
UMBRELLA_SPEED_SPS=500
UMBRELLA_ANGLE_DEGREES=90
UMBRELLA_OPEN_SIGN=1
LED_BRIGHTNESS=8
